<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <ul>
          <h4>Contact Us</h4>

            <li><a href="#">Whatsapp Number:+91-8577885934</a></li>
          </ul>
        </div>
        <div class="col-md-2 footer-col">
          <ul>
          <h4>get help</h4>

            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-col">
          <ul>
          <h4>Online </h4>

            <li><a target="_blank" href="https://www.youtube.com/results?search_query=dridh+sankalp">watch on
                youtube</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-col">
          <ul class="footer-socila-icon">
          <h4>follow us</h4>

            <a href="#">
              <i class="fa fa-facebook-f"></i>
          </a>
          <a href="#">
              <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
              <i class="fa fa-youtube-play"></i>
          </a>
          <a href="#">
              <i class="fa fa-instagram"></i>
          </a>
          </ul>
        </div>
      </div>
    </div>

  </footer>
