<footer class="footer">
    <div class="container">
      
      <div class="row">
        <div class="col-md-4 footer-col">
          <ul>
          <h4>Contact Us</h4>

            <li><a  target="_blank" href="https://www.whatsapp.com/channel/0029Va3qKxQ17En2GWra0T25">Whatsapp Number:+91-8577885934</a></li>
          </ul>
        </div>
        <div class="col-md-2 footer-col">
          <ul>
          <h4>get help</h4>

            <li><a routerLink="Terms&Services">Terms and Conditions (T&C)</a></li>
            <li><a routerLink="PrivacyPolicy">Privacy Policy</a></li>
            <li><a routerLink="Contact-Us">Contact Us</a></li>
            <li><a routerLink="RefundPolicy">Refund Policy</a></li>
            <li><a routerLink="About-Us">About-Us</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-col">
          <ul>
          <h4>Online </h4>

            <li><a target="_blank" href="https://www.youtube.com/results?search_query=dridh+sankalp">watch on
                youtube</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-col">
          <ul class="footer-socila-icon">
          <h4>follow us</h4>

            <a target="_blank" href="https://www.facebook.com/people/dridhsankalp/61555578441792/?mibextid=ZbWKwL">
              <i class="fa fa-facebook-f"></i>
          </a>
          <a  target="_blank" href="https://twitter.com/i/flow/login?redirect_after_login=%2Fdridsankalp">
              <i class="fa fa-twitter"></i>
          </a>
          <a target="_blank" href="https://www.youtube.com/results?search_query=dridh+sankalp">
              <i class="fa fa-youtube-play"></i>
          </a>
          <a target="_blank"  href="https://www.instagram.com/dridh.sankalp/?igsh=MTl2bTR0NzF5NDNwMg%3D%3D">
              <i class="fa fa-instagram"></i>
          </a>
          </ul>
        </div>
      </div>
      <div class="row">
  
        <h1 style="color: aliceblue;">Copyright © 2024: DridhSankalp Pvt Ltd.</h1>
  
         <h1 style="color: aliceblue;">All Rights Reserved.</h1>
       </div>
      
      
    </div>
    
  </footer>
