<!-- <div class="sidenav"  >
    <a (click)="setClassNumberAndNavigate(6)">Class - 6</a>
    <a (click)="setClassNumberAndNavigate(7)">Class - 7</a>
    <a (click)="setClassNumberAndNavigate(8)">Class - 8</a>
    <a (click)="setClassNumberAndNavigate(9)">Class - 9</a>
    <a (click)="setClassNumberAndNavigate(10)">Class - 10</a>
    <a (click)="setClassNumberAndNavigate(11)">Class - 11</a>
    <a (click)="setClassNumberAndNavigate(12)">Class - 12</a>
</div> -->
<div class="scroll-nav-wrapper">
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(6,'History')">Class 6 History</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(6 ,'Geography')">Class 6 Geography</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(6,'Polity')">Class 6 Polity</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(7,'History')">Class 7 History</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(7,'Geography')">Class 7 Geography</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(7,'Polity')">Class 7 Polity</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(8,'History')">Class 8 History</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(8,'Geography')">Class 8 Geography</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(8,'Polity')">Class 8 Polity</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(9,'History')">Class 9 History</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(9,'Geography')">Class 9 Geography</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(9,'Polity')">Class 9 Polity</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(10,'History')">Class 10 History</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(10,'Geography')">Class 10 Geography</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(10,'Polity')">Class 10 Polity</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(11,'History')">Class 11 History</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(11,'Geography')">Class 11 Geography</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(11,'Polity')">Class 11 Polity</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(12,'History')">Class 12 History</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(12,'Geography')">Class 12 Geography</a>
    </div>
    <div class="scroll-nav-item">
        <a (click)="setClassNumberAndNavigate(12,'Polity')">Class 12 Polity</a>
    </div>
</div>