<app-pdfs></app-pdfs>
<app-classes-notes></app-classes-notes>
<div class="box">
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        
        <label class="btn btn-outline-primary" for="btncheck1" (click)="navigateToNotes('History')">History</label>
      
        
        <label class="btn btn-outline-primary" for="btncheck2"(click)="navigateToNotes('Geography')" >Geography</label>
      
        
        <label class="btn btn-outline-primary" for="btncheck3" (click)="navigateToNotes('Polity')">Polity</label>
      </div>
</div>