body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 80%; /* Adjusted width for better responsiveness */
    max-width: 400px; /* Added max-width to prevent container from getting too wide */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


#questions {
    margin-top: 20px;
}

.question-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.question-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.option {
    margin-bottom: 5px;
}

.correct-option {
    color: #4caf50;
    font-weight: bold;
}

.options-container div {
    cursor: pointer;
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .selected {
    background-color: #3498db;
    color: #fff;
  }
  
  .correct {
    background-color: #2ecc71;
    color: #fff;
  }
  
  .incorrect {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .result {
    margin-top: 10px;
  }

.inputDes{
    width: 360px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    font-size: 16px;
}


/* Responsive Styles */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
      }
    .options-container div {
        width: 100%;
      }
}


